@font-face
{
	font-family: LadyRadical;
	src: url("../fonts/LadyRadical.ttf");
}

@font-face
{
	font-family: manaspc;
	src:  url("../fonts/manaspc.ttf");
}

html
{
	margin: 0;
	height: 100%;
}

body
{
	background-image: url("../images/background.jpg");
	margin: 0;
	height: 100%;
}

.index-container
{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

p, p2, p3, h1, h3, h4, h5
{
	font-family: manaspc;
	color:  white;
	margin-top: 2px;
	margin-bottom: 5%;
	text-shadow: 1px 1px grey;
}

a
{
	font-family: manaspc;
	color: white;
	text-shadow: 1px 1px grey;
}

a:link
{
	text-decoration: none;
}

a:hover
{
	color: yellow;
	text-shadow: 1px 1px purple;
	text-decoration: underline;
}

a:visited
{
	color: purple;
	text-shadow: 1px 1px black;
	text-decoration: underline;
}

.text1, .text1-window
{
	font-family: LadyRadical;
	color: white;
	font-size: 40px;
	text-shadow: 2px 2px grey;
}

.container-bordered
{
	border: 3px solid yellow;
	border-style: ridge;
	width: 35%;
	margin: 5px;
	padding: 2%;
 	text-align: center;

 	display: flex;
 	flex-direction: column;
 	justify-content: center;
 	align-items: center;
 	flex-wrap: wrap;

}

.container-row
{
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.container-row-music
{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: start;
}

.icon
{
	width: 48px;
	height: 48px;
}

.music-textbox
{
	width: 100%;
	height: 100%;
	margin-left: 10px;
	text-align: left;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.music-page-container
{
	width: 100%;
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	padding-bottom: 25px;
}

.music-image
{
	box-shadow: 2px 2px 10px black;
}

.music-link-container
{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.music-link-wrapper
{
	margin-bottom: 5px;
}

footer
{
	position: fixed;
	margin:  2px;
	padding-left: 10px;
	bottom: 0;
	width: 100%;
	height: 25px;

	display: flex;
	flex-direction: row;
	justify-content: flex-start;

}

iframe
{
	width: 750px; 
	height: 400px;
	margin-bottom: 1%;
}

/* For mobile phones: */
@media only screen and (max-width: 1000px) 
{
	.text1
	{
		font-size: 30px;
	}

	.text1-window
	{
		font-size: 20px;
	}

	h3
	{
		font-size: 16px;
	}

	p, p3
	{
		font-size: 12px;
	}

	a
	{
		font-size: 12px;
	}

	.p1
	{
		font-size: 8px;
	}

	.container-bordered 
	{
		width: 70%;
	}

	.icon
	{
		width: 30px;
		height: 30px;
	}

	.music-image
	{
		width: 150px;
		height: 150px;
	}
}

@media only screen and (max-width: 400px) 
{

	.music-link-wrapper
	{
		margin-bottom: 0px;
	}

	h4
	{
		font-size: 12px;
	}

	p3
	{
		font-size: 8px;
		margin: 0;
	}

	h5
	{
		font-size: 8px;
	}

	a
	{
		font-size: 8px;
	}

	.p1
	{
		font-size: 4px;
	}

	.music-image
	{
		width: 100%;
		height: 100%;
	}


	.container-bordered
	{
		border: 2px solid yellow;
		border-style: ridge;
		width: 70%;
		padding: 1%;
	}

	.container-row-music
	{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: start;
	}

	iframe
	{
		width: 275px;
		height: 175px;
	}


}