@font-face
{
	font-family: LadyRadical;
	src: url("../fonts/LadyRadical.ttf");
}

@font-face
{
	font-family: manaspc;
	src:  url("../fonts/manaspc.ttf");
}

html
{
	margin: 0;
	height: 100%;
}

body
{
	background-image: url("../images/background.jpg");
	margin: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

p
{
	font-family: manaspc;
	color:  white;
	margin-top: 2px;
	margin-bottom: 5%;
	text-shadow: 1px 1px grey;
}

.text1
{
	font-family: LadyRadical;
	color: white;
	font-size: 40px;
	text-shadow: 2px 2px grey;
}

.container-bordered
{
	border: 3px solid yellow;
	border-style: ridge;
	width: 35%;
	margin: 5px;
	padding: 2%;
 	text-align: center;

 	display: flex;
 	flex-direction: column;
 	justify-content: center;
 	align-items: center;
 	flex-wrap: wrap;

}

.container-row
{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	text-align: center;
	margin: 1em;
	justify-items: space-around;
}

.grid-item
{
	justify-self: center;
}

footer
{
	position: fixed;
	margin:  2px;
	bottom: 0;
	width: 100%;
	height: 25px;
}

/* For mobile phones: */
@media only screen and (max-width: 1000px) 
{
  .container-bordered 
  {
    width: 50%;
  }

  .container-row
  {
    grid-template-columns: repeat(2, 1fr);
  }
}